*{padding:0;margin:0 auto;}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
a{text-decoration:none;color:#6a94b7;}
a:hover{text-decoration:underline;}
body{background:#f8f8f8;font-family:helvetica;color:#ddd;list-style:none;}
#logIn{margin:50px auto;background:#303030;width:300px;min-height:230px;text-align:center;padding:5px;border-radius:10px;}
#logIn input[type="text"], input[type="password"], input[type="email"]{
	padding:5px;
	border-radius:15px;
	width:200px;
   color:#404040;
   font-family:helvetica;
   font-size:1.2em;
}
form{margin:25px 0 25px 0;}
input[type="submit"]{border:none;}
h1{color:#f8f8f8;border-radius:10px;}
#logo{width:200px;}
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 2.5px 40px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
.error{
   color:#FF5050;
}
.msg{
   color:#00CC66;
}
