/*RESET*/
*{padding:0;margin:0;}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
body{background:#F8F8F8;font-family:helvetica;max-width:100%;max-height:100%;}

/*Header*/
header{	background:#303030;height:120px;max-width:100%;}
#logo{float:left;width:150px;}

footer section{
   border-top: 1px solid black;
}
/*Content*/
#main-container-backend{width:auto;min-height:728px;}
#sidebar-backend{min-width:250px;min-height:728px;background:#303030 ;float:left;}
#content-backend{float:left;padding:30px;height:auto;overflow:auto;width:900px;}
#content-backend h1{color:#f8f8f8;background:#28597a;width:900px;padding:5px 0 5px 20px;border-radius:5px;}
#content{padding:20px;}
footer{text-align:center;clear:both;background:#f8f8f8;}
.nav-menu{margin:0 auto; text-align: center;font-size:1.3em;padding:10px;list-style:none;}
.nav-menu a{
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 2.5px 40px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 1.0em;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin-top:3px;
}
.nav-menu a:hover{
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;}
.nav-menu a:active{
   border-top-color: #1b435e;
   background: #1b435e;}
.nav-menu .active_link{
	border-top-color: #1b435e;
   background: #1b435e;
}
.nav-menu a{color:#f8f8f8;text-decoration:none;display:block;}
#wysiwyg_cp input{padding:5px;}
form input[type="button"], input[type="submit"]{padding:5px;}
form input[type="text"], input[type="password"], input[type="email"]{border-radius:13px;padding:10px;width:500px;font-family:helvetica;font-size:1.0em;color:#404040;}
iframe{border-radius:13px;}
form input{margin-top:10px;}

/*Icons*/
#comment{width:27px;height:27px;float:left;background:url('/img/comment.png');background-size:27px 27px;}
#comment:hover{width:28px;height:28px; background:url('/img/comment_hover.png'); background-size:28px 28px;}
.active_icon{width:28px;height:28px; background:url('/img/comment_hover.png'); background-size:28px 28px;}
#site_icon{width:20px;height:20px;}
.site a{text-decoration:none;color:#ddd;}
.site span{margin-left:10px;}
.site{float:left;color:#ddd;margin:80px 0 0 120px;}

#user{float:right;color:#ddd;margin:80px 20px 0 0;width:260px;}
#user #username{color:#9CBCFF}
#user p{float:right;}
#user a {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 0.5px 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 0.8em;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
#user a:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
#user a:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
#user #comment-link{background:none;border-style:none;border:none;box-shadow:none;}
#button-type a{
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 2.5px 40px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 1.0em;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   margin-top:3px;
}
#button-type a:hover{
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;}
#button-type a:active{
   border-top-color: #1b435e;
   background: #1b435e;
}