
/*RESET*/
*{padding:0; margin:0;}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
body{
	font-family:impact;
	background:#E8E8E8;
}

/*===HEADER SECTION===*/
header{
	background:#303030;
	margin:0 auto;
	width:1080px;
	height:90px;
	color:#F8F8F8;
}

header section{
	padding:10px;
}
header span{
	font-size:2em;
}

#mark a{text-decoration:none;color:#F8F8F8;}

#mark{float:left;}
#top-links{
	float:left;
	margin-top:55px;
	margin-left:70px;
}

#top-links #links{list-style:none;display:inline;}
#top-links li{display:inline;padding-left:20px;}
#links a{color:#F8F8F8;text-decoration:none;}

#logo{
	width:100px;
}

/*===MAIN SECTION===*/
.main-container{
	width:1080px;
	min-height:737px;
	margin:0 auto;
	background:#fff;
	text-align:center;
}

/*===One Column===*/
.one-col #content{
	background:grey;
	width:100%;
	height:737px;
}


#side section article{
	text-align:left;
	padding:10px;
	background:url('../img/horizontal_line.png') bottom center no-repeat;
}

#side section article h1, p{
	color:#fff;
	font-size:0.75em;
}


/*===2-col-left===*/

.two-col-left #content{
	background:grey;
	width:860px;
	height:737px;
	float:right;
}
.two-col-left #side{
	background:#DDD;
	width:220px;
	height:737px;
	float:left;
}


/*===2-col-right===*/

.two-col-right #content{
	background:grey;
	width:860px;
	height:737px;
	float:left;
}
.two-col-right #side{
	background:#DDD;
	width:220px;
	height:737px;
	float:right;
}


/*===3-col===*/


.three-col #side{
	background:#DDD;
	width:220px;
	height:737px;
	float:right;
}
.three-col #content{
	background:grey;
	width:640px;
	height:737px;
	float:right;
}
.three-col #side-two{
	background:#DDD;
	width:220px;
	height:737px;
	float:right;
}
/*===MAIN END===*/


/*===FOOTER SECTION===*/
footer{
	margin:0 auto;
	width:1080px;
	height:30px;
	color:#F8F8F8;
	background:#303030;
	text-align:center;
}

footer section{
	padding:5px;
}
